.ic-mail-icon1 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.hinohotlinehinocoid5 {
  position: relative;
  line-height: 16px;
}
.email5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
}
.email5,
.left2,
.wrapper-contact1 {
  justify-content: flex-start;
}
.wrapper-contact1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-base);
}
.left2 {
  z-index: 0;
}
.left2,
.right1,
.user1,
.wrapper-user-info1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user1 {
  justify-content: center;
  gap: var(--gap-5xs);
}
.right1,
.wrapper-user-info1 {
  justify-content: flex-start;
}
.wrapper-user-info1 {
  gap: var(--gap-base);
}
.right1 {
  z-index: 1;
}
.container-inner,
.rectangle-icon {
  position: absolute;
  margin: 0 !important;
  top: 0;
  width: 40px;
  height: 40px;
}
.container-inner {
  right: -40px;
  z-index: 2;
}
.rectangle-icon {
  left: -40px;
  z-index: 3;
}
.container3 {
  background-color: var(--primary-dark);
  width: 950px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.header21 {
  align-self: stretch;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-146xl);
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--body-small-regular-size);
  color: var(--primary-light);
  font-family: var(--body-mid-regular);
}
.image-4-icon4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.logo4,
.menu47 {
  position: relative;
}
.logo4 {
  width: 118.52px;
  height: 40px;
}
.menu47 {
  line-height: 24px;
}
.menu46 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  justify-content: center;
}
.vector-icon5 {
  position: relative;
  width: 23.33px;
  height: 18px;
}
.main-menu1,
.menu-21 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu-21 {
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-base);
}
.main-menu1 {
  flex-direction: row;
}
.container4,
.menu211 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container4 {
  width: 950px;
  padding: var(--padding-9xs) var(--padding-xs);
  box-sizing: border-box;
  justify-content: space-between;
}
.menu211 {
  align-self: stretch;
  background-color: var(--primary-light);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  height: 64px;
  justify-content: center;
  text-align: left;
  font-size: var(--body-large-bold-size);
  color: var(--gray-900);
  font-family: var(--body-mid-regular);
}
.berita1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 40px;
  font-weight: 700;
  font-family: inherit;
}
.chevrons-right-icon1 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.home3 {
  position: relative;
  line-height: 24px;
  color: var(--primary-color);
}
.hero-inage2,
.wrapper-title-cateogry1,
.wrapper11 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper11 {
  flex-direction: row;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
  font-size: var(--body-large-bold-size);
}
.hero-inage2,
.wrapper-title-cateogry1 {
  flex-direction: column;
}
.hero-inage2 {
  align-self: stretch;
  height: 360px;
  overflow: hidden;
  flex-shrink: 0;
  background-image: url(./public/heroinage11@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--body-small-heading-h1-size);
  color: var(--primary-light);
  font-family: var(--body-mid-regular);
}
.informasi1 {
  position: relative;
  letter-spacing: 0.16em;
  line-height: 20px;
}
.terkini1 {
  color: var(--primary-color);
}
.berita-terkini1 {
  margin: 0;
  position: relative;
  font-size: var(--body-small-heading-h2-size);
  line-height: 36px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
  text-align: center;
  color: var(--primary-dark);
}
.informasi-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.wrapper-child {
  position: relative;
  width: 71px;
  height: 2px;
}
.container-title-section4,
.wrapper12 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper12 {
  justify-content: flex-start;
  gap: var(--gap-base);
}
.container-title-section4 {
  align-self: stretch;
  justify-content: center;
}
.img-wrapper-icon {
  position: relative;
  border-radius: var(--br-5xs);
  width: 265px;
  height: 177px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.date6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: center;
  font-size: var(--body-small-regular-size);
}
.training-angkatan-pertama2 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  color: var(--gray-900);
}
.box-arrow-right-icon20 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button29 {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.button28 {
  border-radius: var(--br-5xs);
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  min-height: 38px;
  color: var(--primary-light);
}
.card-news4 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--primary-light);
  box-shadow: var(--shadow-large);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.img-wrapper6 {
  position: relative;
  border-radius: var(--br-5xs);
  width: 265px;
  height: 177px;
  overflow: hidden;
  flex-shrink: 0;
}
.button33,
.hino-finance-menghadirkan5 {
  position: relative;
  font-size: var(--body-large-bold-size);
  line-height: 24px;
  text-align: left;
}
.hino-finance-menghadirkan5 {
  align-self: stretch;
  color: var(--gray-900);
}
.button33 {
  font-weight: 600;
  font-family: var(--body-mid-regular);
  color: var(--primary-light);
}
.button32 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-base);
  background-color: var(--primary-color);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  min-height: 38px;
}
.container-card-news,
.img-wrapper-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.img-wrapper-container {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--primary-light);
  box-shadow: var(--shadow-large);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xl);
  gap: var(--gap-xs);
  text-align: center;
  font-size: var(--body-small-regular-size);
}
.container-card-news {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
  font-size: var(--body-large-bold-size);
  color: var(--color-black);
}
.container-title-section-container {
  width: 950px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-21xl) var(--padding-xs) var(--padding-101xl);
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.article-inner {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--body-mid-regular-size);
  color: var(--primary-color);
  font-family: var(--body-mid-regular);
}
.hino-logo1-freelogovectors-1-icon4 {
  position: relative;
  width: 176.57px;
  height: 40px;
  object-fit: cover;
}
.email-wrapper-icon1 {
  position: relative;
  border-radius: var(--br-5xs);
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.hinohotlinehinocoid6 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.email6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.wrapper-logo-contact4,
.wrapper-no-info4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.wrapper-logo-contact4 {
  width: 362px;
  gap: var(--gap-20xl);
}
.menu-child5 {
  align-self: stretch;
  position: relative;
  background: linear-gradient(
    90deg,
    #2a2a2a,
    #f31b28 34.38%,
    #f31b28 68.23%,
    #2a2a2a
  );
  height: 2px;
}
.menu52 {
  width: 165px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--body-large-bold-size);
}
.berita-terbaru24 {
  position: relative;
  line-height: 20px;
}
.menu53,
.menu54 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.menu53 {
  display: flex;
}
.menu54 {
  display: none;
}
.footer-menu2,
.wrapper-logo-contact-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.wrapper-logo-contact-group {
  width: 950px;
  flex-direction: row;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-8xl);
  z-index: 0;
}
.pt-hino-motors6 {
  font-weight: 500;
  color: var(--primary-color);
}
.copyright-2023-pt-hino-motors-container,
.wrapper-icon-socmed2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.copyright-2023-pt-hino-motors-container {
  width: 950px;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-323xl);
}
.footnote2 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) 0;
  align-items: center;
  justify-content: flex-end;
  background-image: url(./public/footnote@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
  text-align: left;
  font-size: var(--body-small-regular-size);
  color: var(--primary-light);
  font-family: var(--body-mid-regular);
}
.btn-scroll-to-top-icon4 {
  position: absolute;
  margin: 0 !important;
  top: 46px;
  right: 167px;
  border-radius: var(--br-5xs);
  width: 60px;
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.article,
.footer1 {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer1 {
  align-self: stretch;
  background-color: var(--color-gray-100);
  padding: var(--padding-21xl) 0 0;
  justify-content: flex-end;
  gap: var(--gap-61xl);
  text-align: left;
  font-size: var(--body-mid-regular-size);
  color: var(--primary-light);
  font-family: var(--body-mid-regular);
}
.article {
  background-color: var(--primary-light);
  width: 100%;
  justify-content: flex-start;
}
