body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --body-mid-regular: Inter;

  /* font sizes */
  --body-small-regular-size: 12px;
  --body-large-bold-size: 16px;
  --body-mid-regular-size: 14px;
  --body-small-heading-h4-size: 20px;
  --body-small-heading-h3-size: 24px;
  --body-small-heading-h2-size: 32px;
  --body-small-heading-h1-size: 40px;

  /* Colors */
  --primary-light: #fff;
  --primary-color: #f31b28;
  --gray-800: #343a40;
  --gray-500: #adb5bd;
  --secondary-light-color: #abb5be;
  --gray-300: #dee2e6;
  --color-gainsboro-100: #ddd;
  --gray-900: #212529;
  --primary-dark: #181818;
  --color-gray-100: #111;
  --secondary-color: #6c757d;
  --color-black: #000;
  --red-400: #e93842;
  --gray-100: #f8f9fa;

  /* Gaps */
  --gap-base: 16px;
  --gap-6xl: 25px;
  --gap-5xs: 8px;
  --gap-3xs: 10px;
  --gap-13xl: 32px;
  --gap-5xl: 24px;
  --gap-9xs: 4px;
  --gap-xs: 12px;
  --gap-21xl: 40px;
  --gap-2xs: 11px;
  --gap-lgi: 19px;
  --gap-61xl: 80px;
  --gap-323xl: 342px;
  --gap-8xl: 27px;
  --gap-20xl: 39px;

  /* Paddings */
  --padding-base: 16px;
  --padding-xs: 12px;
  --padding-21xl: 40px;
  --padding-5xl: 24px;
  --padding-5xs: 8px;
  --padding-3xs: 10px;
  --padding-61xl: 80px;
  --padding-13xl: 32px;
  --padding-xl: 20px;
  --padding-base-5: 15.5px;
  --padding-58xl: 77px;
  --padding-101xl: 120px;
  --padding-9xs: 4px;
  --padding-146xl: 165px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-7xs: 6px;
  --br-xs: 12px;
  --br-81xl: 100px;

  /* Effects */
  --shadow-large: 0px 8px 35px rgba(0, 0, 0, 0.16);
  --shadow-small: 0px 1px 4px rgba(0, 0, 0, 0.1);
}
