.ic-mail-icon2 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.hinohotlinehinocoid4 {
  position: relative;
  line-height: 16px;
}
.email4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
}
.email4,
.left3,
.wrapper-contact2 {
  justify-content: flex-start;
}
.wrapper-contact2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-base);
}
.left3 {
  z-index: 0;
}
.left3,
.right3,
.user2,
.wrapper-user-info2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user2 {
  justify-content: center;
  gap: var(--gap-5xs);
}
.right3,
.wrapper-user-info2 {
  justify-content: flex-start;
}
.wrapper-user-info2 {
  gap: var(--gap-base);
}
.right3 {
  z-index: 1;
}
.container-child1,
.container-child2 {
  position: absolute;
  margin: 0 !important;
  top: 0;
  width: 40px;
  height: 40px;
}
.container-child1 {
  right: -40px;
  z-index: 2;
}
.container-child2 {
  left: -40px;
  z-index: 3;
}
.container5 {
  background-color: var(--color-gray1-100);
  width: 950px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.header22 {
  align-self: stretch;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-146xl);
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--body-small-regular-size);
  color: var(--primary-light);
  font-family: var(--body-small-heading-h3);
}
.image-4-icon2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.logo2 {
  position: relative;
  width: 118.52px;
  height: 40px;
}
.menu30 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  justify-content: center;
}
.vector-icon4 {
  position: relative;
  width: 23.33px;
  height: 18px;
}
.main-menu2,
.menu-22 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu-22 {
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-base);
}
.main-menu2 {
  flex-direction: row;
}
.container6,
.menu210 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container6 {
  width: 950px;
  padding: var(--padding-9xs) var(--padding-xs);
  box-sizing: border-box;
  justify-content: space-between;
}
.menu210 {
  align-self: stretch;
  background-color: var(--primary-light);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  height: 64px;
  justify-content: center;
  text-align: left;
  font-size: var(--body-large-bold-size);
  color: var(--gray-900);
  font-family: var(--body-small-heading-h3);
}
.berita,
.home {
  position: relative;
}
.berita {
  margin: 0;
  font-size: inherit;
  line-height: 40px;
  font-weight: 700;
  font-family: inherit;
}
.home {
  line-height: 24px;
}
.chevrons-right-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.home1 {
  position: relative;
  line-height: 24px;
  color: var(--primary-color);
}
.hero-inage1,
.wrapper-title-cateogry,
.wrapper5 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper5 {
  flex-direction: row;
  padding: var(--padding-3xs);
  gap: var(--gap-3xs);
  font-size: var(--body-large-bold-size);
}
.hero-inage1,
.wrapper-title-cateogry {
  flex-direction: column;
}
.hero-inage1 {
  align-self: stretch;
  height: 360px;
  overflow: hidden;
  flex-shrink: 0;
  background-image: url(./public/heroinage1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--body-small-heading-h1-size);
  color: var(--primary-light);
  font-family: var(--body-small-heading-h3);
}
.informasi1 {
  position: relative;
  letter-spacing: 0.16em;
  line-height: 20px;
}
.terkini1 {
  color: var(--primary-color);
}
.berita-terkini1 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 36px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
  text-align: center;
  color: var(--color-gray1-100);
}
.informasi-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.wrapper-child {
  position: relative;
  width: 71px;
  height: 2px;
}
.container-title-section3,
.wrapper6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper6 {
  justify-content: flex-start;
  gap: var(--gap-base);
}
.container-title-section3 {
  align-self: stretch;
  justify-content: center;
}
.img-wrapper-icon1 {
  position: relative;
  border-radius: var(--br-5xs);
  width: 265px;
  height: 177px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.date3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: center;
  font-size: var(--body-small-regular-size);
}
.training-angkatan-pertama1 {
  align-self: stretch;
  position: relative;
  line-height: 24px;
  color: var(--gray-900);
}
.box-arrow-right-icon9 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button13 {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.button12 {
  border-radius: var(--br-5xs);
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  min-height: 38px;
  color: var(--primary-light);
}
.card-news2 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--primary-light);
  box-shadow: var(--shadow-large);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.img-wrapper2 {
  position: relative;
  border-radius: var(--br-5xs);
  width: 265px;
  height: 177px;
  overflow: hidden;
  flex-shrink: 0;
}
.button17,
.hino-finance-menghadirkan3 {
  position: relative;
  font-size: var(--body-large-bold-size);
  line-height: 24px;
  text-align: left;
}
.hino-finance-menghadirkan3 {
  align-self: stretch;
  color: var(--gray-900);
}
.button17 {
  font-weight: 600;
  font-family: var(--body-small-heading-h3);
  color: var(--primary-light);
}
.button16 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-base);
  background-color: var(--primary-color);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  min-height: 38px;
}
.container-card-news1,
.img-wrapper-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.img-wrapper-group {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--primary-light);
  box-shadow: var(--shadow-large);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-base) var(--padding-xl);
  gap: var(--gap-xs);
  text-align: center;
  font-size: var(--body-small-regular-size);
}
.container-card-news1 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
  font-size: var(--body-large-bold-size);
  color: var(--color-black);
}
.container-title-section-group {
  width: 950px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-21xl) var(--padding-xs) var(--padding-101xl);
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.article-inner {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--body-mid-regular-size);
  color: var(--primary-color);
  font-family: var(--body-small-heading-h3);
}
.hino-logo1-freelogovectors-1-icon2 {
  position: relative;
  width: 176.57px;
  height: 40px;
  object-fit: cover;
}
.email-wrapper-icon2 {
  position: relative;
  border-radius: var(--br-5xs);
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.hinohotlinehinocoid5 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.email5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.wrapper-logo-contact2,
.wrapper-no-info2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.wrapper-logo-contact2 {
  width: 362px;
  gap: var(--gap-20xl);
}
.menu-child1 {
  align-self: stretch;
  position: relative;
  background: linear-gradient(
    90deg,
    #2a2a2a,
    #f31b28 34.38%,
    #f31b28 68.23%,
    #2a2a2a
  );
  height: 2px;
}
.menu36 {
  width: 165px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--body-large-bold-size);
}
.berita-terbaru12 {
  position: relative;
  line-height: 20px;
}
.menu37,
.menu38 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.menu37 {
  display: flex;
}
.menu38 {
  display: none;
}
.footer-menu4,
.wrapper-logo-contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.wrapper-logo-contact-container {
  width: 950px;
  flex-direction: row;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-8xl);
  z-index: 0;
}
.pt-hino-motors2 {
  font-weight: 500;
  color: var(--primary-color);
}
.copyright-2023-pt-hino-motors-container,
.wrapper-icon-socmed2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.copyright-2023-pt-hino-motors-container {
  width: 950px;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-323xl);
}
.footnote2 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) 0;
  align-items: center;
  justify-content: flex-end;
  background-image: url(./public/footnote@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
  text-align: left;
  font-size: var(--body-small-regular-size);
  color: var(--primary-light);
  font-family: var(--body-small-heading-h3);
}
.btn-scroll-to-top-icon2 {
  position: absolute;
  margin: 0 !important;
  top: 46px;
  right: 167px;
  border-radius: var(--br-5xs);
  width: 60px;
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.article,
.footer2 {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer2 {
  align-self: stretch;
  background-color: var(--color-gray-100);
  padding: var(--padding-21xl) 0 0;
  justify-content: flex-end;
  gap: var(--gap-61xl);
  text-align: left;
  font-size: var(--body-mid-regular-size);
  color: var(--primary-light);
  font-family: var(--body-small-heading-h3);
}
.article {
  background-color: var(--primary-light);
  width: 100%;
  justify-content: flex-start;
}
