.ic-mail-icon1 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.hinohotlinehinocoid2 {
  position: relative;
  line-height: 16px;
}
.email2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.left2,
.wrapper-contact1 {
  justify-content: space-between;
}
.wrapper-contact1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.left2 {
  z-index: 0;
}
.left2,
.right2,
.user1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user1 {
  justify-content: center;
  gap: var(--gap-5xs);
}
.right2 {
  justify-content: space-between;
  z-index: 1;
}
.container-inner,
.rectangle-icon {
  position: absolute;
  margin: 0 !important;
  top: 0;
  width: 40px;
  height: 40px;
}
.container-inner {
  right: -40px;
  z-index: 2;
}
.rectangle-icon {
  left: -40px;
  z-index: 3;
}
.container3 {
  background-color: var(--color-gray1-100);
  width: 950px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.header21 {
  align-self: stretch;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--body-small-regular-size);
  color: var(--primary-light);
  font-family: var(--body-small-heading-h3);
}
.image-4-icon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.logo1,
.menu16 {
  position: relative;
}
.logo1 {
  width: 118.52px;
  height: 40px;
}
.menu16 {
  line-height: 24px;
}
.menu15 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  justify-content: center;
}
.vector-icon1 {
  position: relative;
  width: 23.33px;
  height: 18px;
}
.main-menu1,
.menu-21 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu-21 {
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-base);
}
.main-menu1 {
  flex-direction: row;
}
.container4,
.menu21 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container4 {
  width: 950px;
  padding: var(--padding-9xs) var(--padding-xs);
  box-sizing: border-box;
  justify-content: space-between;
}
.menu21 {
  align-self: stretch;
  background-color: var(--primary-light);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  height: 64px;
  justify-content: center;
  text-align: left;
  font-size: var(--body-large-bold-size);
  color: var(--gray-900);
  font-family: var(--body-small-heading-h3);
}
.kategori1 {
  position: relative;
  letter-spacing: 0.16em;
  line-height: 20px;
}
.kroseri1 {
  color: var(--primary-color);
}
.katalog-kroseri1 {
  margin: 0;
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 36px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
  text-align: center;
  color: var(--color-gray1-100);
}
.wrapper3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.line-icon2 {
  position: relative;
  width: 77.53px;
  height: 2px;
}
.container-title-section2,
.title-content2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-content2 {
  justify-content: flex-start;
  gap: var(--gap-base);
}
.container-title-section2 {
  align-self: stretch;
  padding: var(--padding-3xs) 0;
  justify-content: center;
}
.icon-catalouge {
  position: relative;
  border-radius: var(--br-5xs);
  width: 40px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.euro-41 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
}
.wrapper-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.vector-icon2 {
  position: relative;
  width: 14px;
  height: 8px;
}
.card-header,
.chevron-up {
  display: flex;
  align-items: center;
}
.chevron-up {
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-xs);
  justify-content: flex-start;
}
.card-header {
  align-self: stretch;
  background-color: var(--primary-light);
  border-bottom: 1px solid var(--primary-color);
  flex-direction: row;
  padding: var(--padding-base);
  justify-content: space-between;
}
.box-arrow-right-icon3 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button6 {
  position: relative;
  font-size: var(--body-mid-regular-size);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--body-small-heading-h3);
  color: var(--primary-light);
  text-align: left;
}
.arrow-narrow-right-icon3 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.tag-catalouge {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-base);
  background-color: var(--primary-color);
  border-radius: var(--br-5xs);
  box-shadow: var(--shadow-small);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  min-height: 38px;
}
.button8 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.card-body,
.tag-catalouge2 {
  display: flex;
  flex-direction: row;
  gap: var(--gap-5xs);
}
.tag-catalouge2 {
  border-radius: var(--br-5xs);
  background-color: var(--primary-color);
  box-shadow: var(--shadow-small);
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  min-height: 38px;
}
.card-body {
  align-self: stretch;
  flex-wrap: wrap;
  padding: var(--padding-base) var(--padding-base) var(--padding-5xl);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--body-mid-regular-size);
  color: var(--primary-light);
}
.card-catalouge4,
.card-header1 {
  background-color: var(--primary-light);
  display: flex;
}
.card-catalouge4 {
  border-radius: var(--br-xs);
  box-shadow: var(--shadow-large);
  width: 546px;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.card-header1 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  justify-content: space-between;
}
.card-catalouge-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.wrapper-info-title-catalouge,
.wrapper4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.wrapper4 {
  gap: var(--gap-5xs);
}
.wrapper-info-title-catalouge {
  background-color: var(--gray-100);
  width: 356px;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  font-size: var(--body-mid-regular-size);
}
.container-catalouge {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xl);
  font-size: var(--body-small-heading-h4-size);
}
.catalouge-inner,
.container-title-section-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-title-section-parent {
  width: 950px;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-21xl);
}
.catalouge-inner {
  align-self: stretch;
  padding: 80px 0 var(--padding-101xl);
  text-align: left;
  font-size: var(--body-mid-regular-size);
  color: var(--primary-color);
  font-family: var(--body-small-heading-h3);
}
.hino-logo1-freelogovectors-1-icon1 {
  position: relative;
  width: 176.57px;
  height: 40px;
  object-fit: cover;
}
.email-wrapper-icon1 {
  position: relative;
  border-radius: var(--br-5xs);
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.email3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.wrapper-logo-contact1,
.wrapper-no-info1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.wrapper-logo-contact1 {
  width: 362px;
  gap: var(--gap-20xl);
}
.menu-inner {
  align-self: stretch;
  position: relative;
  background: linear-gradient(
    90deg,
    #2a2a2a,
    #f31b28 34.38%,
    #f31b28 68.23%,
    #2a2a2a
  );
  height: 2px;
}
.menu22 {
  width: 165px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--body-large-bold-size);
}
.caret-right-icon6 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.berita-terbaru6 {
  position: relative;
  line-height: 20px;
}
.menu23,
.menu24 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.menu23 {
  display: flex;
}
.menu24 {
  display: none;
}
.footer-menu2,
.wrapper-logo-contact-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.wrapper-logo-contact-group {
  width: 950px;
  flex-direction: row;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-8xl);
  z-index: 0;
}
.pt-hino-motors1 {
  font-weight: 500;
  color: var(--primary-color);
}
.copyright-2023-pt-hino-motors-group,
.wrapper-icon-socmed1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.copyright-2023-pt-hino-motors-group {
  width: 950px;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-323xl);
}
.footnote1 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) 0;
  align-items: center;
  justify-content: flex-end;
  background-image: url(./public/footnote@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
  text-align: left;
  font-size: var(--body-small-regular-size);
  color: var(--primary-light);
  font-family: var(--body-small-heading-h3);
}
.btn-scroll-to-top-icon1 {
  position: absolute;
  margin: 0 !important;
  top: 46px;
  right: 167px;
  border-radius: var(--br-5xs);
  width: 60px;
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.catalouge,
.footer1 {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer1 {
  align-self: stretch;
  background-color: var(--color-gray-100);
  padding: var(--padding-21xl) 0 0;
  justify-content: flex-end;
  gap: var(--gap-61xl);
  text-align: left;
  font-size: var(--body-mid-regular-size);
  color: var(--primary-light);
  font-family: var(--body-small-heading-h3);
}
.catalouge {
  background-color: var(--primary-light);
  width: 100%;
  justify-content: flex-start;
}
